/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #1993D3;
    --grey: #E2E8F0;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    /* font-size: 16px; */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.side-menu {
    padding: 25px;
    grid-row: 1 / 3;
    background-color: var(--primary);
}

.side-menu a {
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo span:first-child {
    font-size: 3.1rem;
}

.logo span:last-child {
    margin-left: 12px;
    font-size: 1.7rem;
    font-weight: 600;
}

.menu {
    margin-bottom: 60px;
}

.menu li {
    margin-bottom: 20px;
}

.menu li:last-child {
    margin-bottom: 0;
}

.menu a {
    display: flex;
    align-items: center;
}

.menu a span:first-child {
    font-size: 1.8rem;
}

.menu a span:last-child {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ------------ */

.main-header {
    padding: 15px 80px 15px 50px;
    background-color: var(--white);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.bottom-header,
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header > div:first-child,
.bottom-header > div:last-child,
.top-header > div:first-child,
.top-header > div:last-child {
    display: flex;
    align-items: center;
}

.top-header > div:first-child {
    width: 65%;
}

.top-header > div:last-child {
    padding-right: 20px;
}

.search-bar {
    margin-left: 15px;
    padding: 10px;
    width: 100%;
    background-color: var(--grey);
    border: 0;
    border-radius: 20px;
}

.top-header .avatar {
    margin-right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.top-header .notification {
    margin-right: 30px;
    font-size: 1.6rem;
}

.top-header .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.bottom-header {
    padding: 30px 0 0;
}

.bottom-header .avatar {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bottom-header > div:first-child > div {
    font-weight: 600;    
}

.bottom-header > div:first-child .name {
    margin-top: 13px;
    font-size: 1.4rem;
}

.button {
    padding: 13px 30px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 25px;
    color: var(--white);
    border: 0;
    background-color: var(--primary);
    cursor: pointer;
}

.bottom-header .button {
    margin-right: 25px;
}

.bottom-header .button:last-child {
    margin-right: 0;
}

/* ______________ */

.main-content {
    padding: 30px 30px 80px 20px;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    background-color: var(--grey);
}

.main-content .articles {
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
}

.section-heading {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

article {
    padding: 30px 20px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--white);
    border-left: 8px solid var(--primary);
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

article .title {
    margin-bottom: 3px;
    font-size: 1.1rem;
    font-weight: 600;
}

article p {
    font-size: 0.9rem;
    color:rgba(0, 0, 0, 0.5);
    line-height: 1.2;
}

article .actions span {
    margin-right: 18px;
    font-size: 1.5rem;
    opacity: 0.8;
}

article .actions span:last-child {
    margin-right: 0;
}

aside .box {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--white);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.announcements {
    margin-bottom: 50px;
}

.announcements .title {
    margin-bottom: 3px;
    font-size: 0.9rem;
    font-weight: 600;
}

.announcements p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.announcements > div {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.announcements > div:last-child {
    border-bottom: 0;
}

aside .trending {
    padding: 20px 25px;
}

.trending .thumbnail {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.trending .thumbnail:last-child {
    margin-bottom: 0;
}

.trending .thumbnail p {
    color: rgba(0,0,0,0.5);
}

.trending .thumbnail .title {
    margin-bottom: 5px;
}

.trending img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.material-icons-outlined, img {
    cursor: pointer;
}